<%- include("partials/header") %>
<main class="container-md">
  <div class="row justify-content-center align-items-center mt-5">
    <div
      class="login-container py-5 col-md-8 row justify-content-center align-items-center rounded"
    >
      <h3 class="text-center text-white mb-4">Forget Password</h3>
      <div class="col-md-8 bg-white rounded">
        <form class="py-5 px-2" action="/forget-password" method="post">
          <% if(notExist){ %>
          <div class="bg-danger-subtle text-center py-1 rounded mb-2">
            <h5>User Not found</h5>
          </div>
          <% } %>
          <div class="text-center">
            <p>Enter you email address for OTP</p>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="email"
              required
            />
          </div>
          <div class="text-center">
            <button id="submit" class="submit-btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<%- include("partials/footer") %>
