<%- include("partials/header") %>
<main class="container-md">
  <div class="row justify-content-center align-items-center mt-5">
    <div
      class="login-container py-5 col-md-8 row justify-content-center align-items-center rounded"
    >
      <h3 class="text-center text-white mb-4">Verify OTP</h3>
      <div class="col-md-8 bg-white rounded">
        <form
          class="pt-5 px-2"
          action="/forgetpassword-otp"
          method="post"
          id="form"
        >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">OTP</label>
            <input
              type="number"
              class="form-control"
              id="otp"
              aria-describedby="emailHelp"
              name="otp"
              required
            />
            <input
              id="correctOtp"
              type="hidden"
              class="hidden"
              value="<%= otp %>"
            />
          </div>
        </form>
        <div class="text-center pb-3 bg-white">
          <p id="invalid" class="text-red"></p>

          <p id="time-counter"></p>

          <button id="submit" class="submit-btn" onclick="handleClick()">
            Submit
          </button>
          <a href="/resend-forgetotp" id="resend" class="submit-btn hidden"
            >Resend</a
          >
        </div>
      </div>
    </div>
  </div>

  <script>
    let timeCounter = document.getElementById("time-counter");
    let submit = document.getElementById("submit");
    let resend = document.getElementById("resend");
    let form = document.getElementById("form");

    function handleClick() {
      let correctOtp = document.getElementById("correctOtp").value;
      let enteredOtp = document.getElementById("otp").value;
      let invalid = document.getElementById("invalid");

      if (correctOtp === enteredOtp) {
        form.submit();
      } else {
        invalid.style.color = "red";
        invalid.innerText = "Invalid OTP";
      }
    }

    let time = 60;

    const interval = setInterval(() => {
      if (time === 0) {
        submit.classList.add("hidden");
        resend.classList.remove("hidden");
        clearInterval(interval);
      }
      timeCounter.innerText = `OTP expires in ${time} seconds`;
      time--;
    }, 1000);
  </script>
</main>
<%- include("partials/footer") %>
