<%- include("partials/header") %>
<main class="container-md">
  <div class="row justify-content-center align-items-center mt-5">
    <div
      class="login-container py-5 col-md-8 row justify-content-center align-items-center rounded"
    >
      <h3 class="text-center text-white mb-4">Verify OTP</h3>
      <div class="col-md-8 bg-white rounded">
        <form class="py-5 px-2" action="/verify-otp" method="post">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">OTP</label>
            <input
              type="number"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              name="otp"
            />
          </div>
          <div class="text-center">
            <% if(inValidOTP) {%>
            <p class="text-red">Invalid OTP</p>
            <% } %>

            <!-- <a href="" class="btn btn-primary w-50">Resend OTP</a> -->

            <p id="time-counter"></p>

            <button id="submit" class="submit-btn">Submit</button>
            <a href="/resend-otp" id="resend" class="submit-btn hidden"
              >Resend</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    let timeCounter = document.getElementById("time-counter");
    let submit = document.getElementById("submit");
    let resend = document.getElementById("resend");

    if (!localStorage.getItem("time") || localStorage.getItem("time") <= 0) {
      localStorage.setItem("time", 60);
    }

    let time = JSON.parse(localStorage.getItem("time"));
    console.log(time);

    const interval = setInterval(() => {
      if (time === 0) {
        localStorage.removeItem("time");
        submit.classList.add("hidden");
        resend.classList.remove("hidden");
        clearInterval(interval);
      }
      localStorage.setItem("time", time);
      timeCounter.innerText = `OTP expires in ${time} seconds`;
      time--;
    }, 1000);
  </script>
</main>
<%- include("partials/footer") %>
