<%- include("partials/header") %>

<main class="container-md">
  <div class="row justify-content-center align-items-center mt-5">
    <div
      class="login-container py-5 col-md-8 row justify-content-center align-items-center rounded"
    >
      <h3 class="text-center text-white mb-4">SignUp</h3>
      <div class="col-md-8 bg-white rounded">
        <form class="py-5 px-2" action="/signin" method="post">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="email"
              class="form-control"
              id="firstName"
              aria-describedby="emailHelp"
              name="firstName"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="email"
              class="form-control"
              id="lastName"
              aria-describedby="emailHelp"
              name="lastName"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              aria-describedby="emailHelp"
              name="email"
            />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input
              type="number"
              class="form-control"
              id="phone"
              aria-describedby="emailHelp"
              name="phone"
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              oninput="checkPassword(this.value)"
            />
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label"
              >Confirm Password</label
            >
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              name="password"
              oninput="nn(this.value)"
            />
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-primary w-50">Submit</button>
          </div>
          <div class="text-center mt-3">
            <a
              href="/signin"
              class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
              >Already have account</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  let password = document.getElementById("password");
  let Password2 = document.getElementById("confirmPassword");

  let pass;
  function checkPassword(value) {
    if (value.length < 6) {
      pass = value;
    }
  }

  function nn(value) {
    console.log("pass : ", pass);
  }
</script>
