body {
  overflow-x: hidden;
  background-color: #e4e3e3;
}

.navbar,
.login-container,
footer {
  background-color: #090125;
}

footer {
  color: white;
  height: 50px;
}

main {
  min-height: 100vh;
}

.submit-btn {
  background-color: #0044ff;
  color: white;
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
  text-decoration: none;
}

.hidden {
  display: none;
}
.box {
  height: 100%;
}
.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: contain;
}
