body {
  overflow-x: hidden;
  background-color: #E4E3E3;
}

.navbar,
.login-container {
  background-color: #090125;
}

.main {
  height: 100vh;
}

.submit-btn {
  background-color: #0044ff;
  color: white;
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
  text-decoration: none;
}

.hidden {
  display: none;
}
.box {
  height: 100%;
}
