<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.min.css" rel="stylesheet">
    <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js"
  integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/additional-methods.min.js"
  integrity="sha512-TiQST7x/0aMjgVTcep29gi+q5Lk5gVTUPE9XgN0g96rwtjEjLpod4mlBRKWHeBcvGBAEvJBmfDqh2hfMMmg+5A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
    <title>Aech Computer</title>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand text-white" href="/">Aech</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active text-white"
                  aria-current="page"
                  href="/"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/shop">Products</a>
              </li>
              <li class="nav-item">
                <div id="search-bar" class=" justify-content-center" style="display: none;">
                  <form class="d-flex" role="search" action="/user/search-prouct" method="post">
                    <input name="search" class="form-control rounded-start-pill border-light" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light rounded-end-pill" type="submit"><i class="bi bi-search"></i></button>
                  </form>
                </div>
            </li>
             
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              
              <li class="nav-item">
                <button onclick="handleSearch()" type="button" class="btn" >
                  <i class="bi bi-search text-light"></i>
                </button>
                
              </li>
              <li class="nav-item">
                <a href="/wishlist" class="nav-link"
                  ><i class="bi bi-heart text-white fs-6"></i
                ></a>
              </li>
              <li class="nav-item">
                <a href="/cart" class="nav-link"
                  ><i class="bi bi-bag text-white"></i
                ></a>
              </li>
              <% if(signIn) {%>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="bi bi-person-circle text-white"></i>
                </a>
                <div class="dropdown-menu">
                  <a
                    href="/user/profile"
                    class="dropdown-item btn btn-outline-dark px-auto border-bottom"
                    >Dashboard</a
                  >
                  <a
                    href="/logout"
                    class="dropdown-item btn btn-outline-dark px-auto"
                    >Logout</a
                  >
                </div>
              </li>
              <% }else{ %>
              <li class="nav-item">
                <a href="/signin" class="nav-link text-white">SignIn</a>
              </li>
              <% } %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
</html>
<script>
  function handleSearch(){
    let search = document.getElementById("search-bar")

    if(search.style.display === "none"){
      search.style.display="flex";
    }else{
      search.style.display="none";
    }

  }
</script>
